h1 {
  width: 90%;
  margin: 30px 0 40px 50px;
  font-size: 18px;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #424242, transparent) 1;
}

.home-container{
  color: #424242;
  margin-left: 50px;
  font-size: 13px;
  width: 90%;
}

button {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2{
  margin-bottom: 20px;
  font-size: 14px;
}

.scroll-container {
  width: 100%;
  max-height: 365px;
  overflow-y: auto;
}
