<!-- settings.component.html -->
<h1>Change Password</h1>
<div class="change-password">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" autocomplete="username"><br><br>

    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" formControlName="newPassword" autocomplete="new-password"><br><br>

    <label for="confirmPassword">Confirm New Password:</label>
    <input type="password" id="confirmPassword" formControlName="confirmPassword" autocomplete="new-password"><br><br>

    <button type="submit">Change Password</button>
  </form>
</div>
