h1 {
  width: 90%;
  margin: 30px 0 20px 50px;
  font-size: 18px;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #424242, transparent) 1;
}

.change-password {
  margin-left: 50px;
  font-size: 13px;
  color: #424242;
}
