h1 {
  width: 90%;
  margin: 30px 0 40px 50px;
  font-size: 18px;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #424242, transparent) 1;
}

.display{
  margin-left: 50px;
  font-size: 13px;
  color: #424242;
  width: 90%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  margin-bottom: 20px;
  font-size: 14px;
  margin-top: 20px;
}

.scroll-container {
  width: 100%;
  max-height: 450px;
  overflow-y: auto;
}
