<h1>Ordered Lunches</h1>
<div class="display">
<div class="date-picker">
  <label for="selectedDate">Select a date:</label>
  <input type="date" id="selectedDate" [(ngModel)]="selectedDate" name="selectedDate">
<button (click)="fetchOrderedLunches()">Fetch</button>
</div>
<!-- Display ordered lunches -->
<div *ngIf="orderedLunches">
  <ul>
    <li *ngFor="let lunch of orderedLunches">
      <h2>{{ selectedDate | date: 'yyyy-MM-dd' }}</h2>
      {{ lunch.name }} - {{ lunch.surname }} - {{ lunch.soup }} - {{ lunch.mainMeal }}
    </li>
  </ul>
</div>
</div>
