<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>

<body>
<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">

    <div class="input-group">
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required autocomplete="current-username">
    </div>

    <div class="input-group">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required autocomplete="current-password">
    </div>

    <div class="input-group">
      <button type="submit">Login</button>
    </div>

  </form>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>
</body>
</html>
