<h1>See Menu For Selected Day </h1>
<div class="select-day">
  <form>

    <label for="day">Day: </label>
      <select id="day" name="day" [(ngModel)]="selectedDay">
      <option value="MONDAY">Monday</option>
      <option value="TUESDAY">Tuesday</option>
      <option value="WEDNESDAY">Wednesday</option>
      <option value="THURSDAY">Thursday</option>
      <option value="FRIDAY">Friday</option>
      </select>

    <button type="button" (click)="getMenuForDay()">Get Menu</button>

    <div *ngIf="selectedDay && menu">
      <h2>{{ calculateFormattedDate() }}</h2>

      <p *ngIf="menu.soup.length > 0">Soup: <span id="soup">{{ menu.soup.join(', ') }}</span></p>

      <p *ngIf="menu.mainMeal.length > 0">Main Meal:</p>
      <ul *ngIf="menu.mainMeal.length > 0">
        <li *ngFor="let item of menu.mainMeal">
          {{ item }}
        </li>
      </ul>
    </div>

    <!-- if no menu is available today (=true), display why -->
    <div *ngIf="selectedDay && noMenuAvailable">
      <div *ngFor="let item of weeklyMenu">
        <p id = "info" *ngIf="item.den === selectedDay">{{ item.balenie }}</p>
      </div>
    </div>
  </form>
</div>

